.accessibility-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-top: 1rem;
  padding: 1.5rem;
  width: 12vw;
  min-width: 10rem;
  background: #333;
  border-radius: 10px;
  color: white;
  border: 2px solid #555;
  box-sizing: border-box;
}
.accessibility-img{
    cursor: pointer;
}
.accessibility-box-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.accessibility-box-text{
    margin: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #2c3dfc;
  border-radius: 25px;
  min-width: 3rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:checked + .slider:before {
  transform: translateX(24px);
}
