#caixa-principal{
    background-color: #1A1A1A;

}

h3{
    font-weight: 400;
}


h6{
    font-weight: 400;
}
#login-box{

    border-radius: 10%;
    width: 467.2766418457031px;
    height: 505.940185546875px;
    background-color: #FFFFFF;
}